@import "../../Base.scss";
.containerProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  .containerPrice {
    text-align: end;
    margin: 0 auto;
    width: 12rem;
  }
  .containerDescription {
    align-items: flex-start;
    margin: 0 auto;
    width: 12rem;
  }
  @media screen and (max-width: 500px) {
    .img {
      width: 17rem;
      height: 17rem;
    }
    .containerDescription {
      width: 90%;
    }
    .containerPrice {
      width: 90%;
    }
  }
}

.activeList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px auto;
  .containerDescription {
    width: 45%;
    margin-left: 10px;
  }
  .containerPrice {
    margin-right: 10px;
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
    .img {
      width: 17rem;
      height: 17rem;
    }
    .containerDescription {
      width: 90%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;

    .containerDescription {
      width: 90%;
      margin-right: 10px;
    }
  }
}

.img {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
}

.name {
  font: 17px Noto Sans JP;
  font-weight: bolder;
  margin: 0;
}

.description {
  font: 14px Noto Sans JP;
  text-align: justify;
}
.price {
  font: 20px Noto Sans JP;
  margin: 0;
}

.priceMonth {
  font: 12px Noto Sans JP;
  color: rgb(128, 128, 128);
  margin: 0;
}
